<div class="navbar bg-base-100">
    <div class="navbar-start">
        <app-drawer></app-drawer>
        <a class="normal-case text-xl ml-10">{{fullname ? fullname:
            'Usuario Anonimo'}}</a>

    </div>
    <div class="navbar-center">
        <a class=" normal-case text-2xl font-extrabold">{{textNavbar}}</a>
    </div>
    <div class="navbar-end mr-3">

        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img src="https://randomuser.me/api/portraits/med/men/7.jpg"/>
                </div>
            </label>
            <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">

                <li><a routerLink="/login" (click)="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>