
<div class="overflow-x-auto">
    <font></font>
    <table class="table">
        <font></font>
        <!-- head -->
        <font></font>
        <thead>
            <font></font>
            <tr>
                <font></font>
                <th>
                    <font></font>
                    <label>
                        <font></font>
                        <input type="checkbox" class="checkbox" />
                        <font></font>
                    </label>
                    <font></font>
                </th>
                <font></font>
                <th>Nombre</th>
                <font></font>
                <th>Trabajo</th>
                <font></font>
                <th>Color Favorito</th>
                <font></font>
                <th></th>
                <font></font>
            </tr>
            <font></font>
        </thead>
        <font></font>
        <tbody>
            <font></font>
            <!-- row 1 -->
            <font></font>
            <tr>
                <font></font>
                <th>
                    <font></font>
                    <label>
                        <font></font>
                        <input type="checkbox" class="checkbox" />
                        <font></font>
                    </label>
                    <font></font>
                </th>
                <font></font>
                <td>
                    <font></font>
                    <div class="flex items-center space-x-3">
                        <font></font>
                        <div class="avatar">
                            <font></font>
                            <div class="mask mask-squircle w-12 h-12">
                                <font></font>
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
                                    alt="Avatar Tailwind CSS Component" />
                                <font></font>
                            </div>
                            <font></font>
                        </div>
                        <font></font>
                        <div>
                            <font></font>
                            <div class="font-bold">Chema</div>
                            <font></font>
                            <div class="text-sm opacity-50">United States</div>
                            <font></font>
                        </div>
                        <font></font>
                    </div>
                    <font></font>
                </td>
                <font></font>
                <td>
                    <font></font>
                    Zemlak, Daniel and Leannon<font></font>
                    <br />
                    <font></font>
                    <span class="badge badge-ghost badge-sm">Desktop Support Technician</span>
                    <font></font>
                </td>
                <font></font>
                <td>Purple</td>
                <font></font>
                <th>
                    <font></font>
                    <button class="btn btn-ghost btn-xs">details</button>
                    <font></font>
                </th>
                <font></font>
            </tr>
            <font></font>
            <!-- row 2 -->
            <font></font>
            <tr>
                <font></font>
                <th>
                    <font></font>
                    <label>
                        <font></font>
                        <input type="checkbox" class="checkbox" />
                        <font></font>
                    </label>
                    <font></font>
                </th>
                <font></font>
                <td>
                    <font></font>
                    <div class="flex items-center space-x-3">
                        <font></font>
                        <div class="avatar">
                            <font></font>
                            <div class="mask mask-squircle w-12 h-12">
                                <font></font>
                                <img src="/tailwind-css-component-profile-3@56w.png"
                                    alt="Avatar Tailwind CSS Component" />
                                <font></font>
                            </div>
                            <font></font>
                        </div>
                        <font></font>
                        <div>
                            <font></font>
                            <div class="font-bold">Brice Swyre</div>
                            <font></font>
                            <div class="text-sm opacity-50">China</div>
                            <font></font>
                        </div>
                        <font></font>
                    </div>
                    <font></font>
                </td>
                <font></font>
                <td>
                    <font></font>
                    Carroll Group<font></font>
                    <br />
                    <font></font>
                    <span class="badge badge-ghost badge-sm">Tax Accountant</span>
                    <font></font>
                </td>
                <font></font>
                <td>Red</td>
                <font></font>
                <th>
                    <font></font>
                    <button class="btn btn-ghost btn-xs">details</button>
                    <font></font>
                </th>
                <font></font>
            </tr>
            <font></font>
            <!-- row 3 -->
            <font></font>
            <tr>
                <font></font>
                <th>
                    <font></font>
                    <label>
                        <font></font>
                        <input type="checkbox" class="checkbox" />
                        <font></font>
                    </label>
                    <font></font>
                </th>
                <font></font>
                <td>
                    <font></font>
                    <div class="flex items-center space-x-3">
                        <font></font>
                        <div class="avatar">
                            <font></font>
                            <div class="mask mask-squircle w-12 h-12">
                                <font></font>
                                <img src="/tailwind-css-component-profile-4@56w.png"
                                    alt="Avatar Tailwind CSS Component" />
                                <font></font>
                            </div>
                            <font></font>
                        </div>
                        <font></font>
                        <div>
                            <font></font>
                            <div class="font-bold">Marjy Ferencz</div>
                            <font></font>
                            <div class="text-sm opacity-50">Russia</div>
                            <font></font>
                        </div>
                        <font></font>
                    </div>
                    <font></font>
                </td>
                <font></font>
                <td>
                    <font></font>
                    Rowe-Schoen<font></font>
                    <br />
                    <font></font>
                    <span class="badge badge-ghost badge-sm">Office Assistant I</span>
                    <font></font>
                </td>
                <font></font>
                <td>Crimson</td>
                <font></font>
                <th>
                    <font></font>
                    <button class="btn btn-ghost btn-xs">details</button>
                    <font></font>
                </th>
                <font></font>
            </tr>
            <font></font>
            <!-- row 4 -->
            <font></font>
            <tr>
                <font></font>
                <th>
                    <font></font>
                    <label>
                        <font></font>
                        <input type="checkbox" class="checkbox" />
                        <font></font>
                    </label>
                    <font></font>
                </th>
                <font></font>
                <td>
                    <font></font>
                    <div class="flex items-center space-x-3">
                        <font></font>
                        <div class="avatar">
                            <font></font>
                            <div class="mask mask-squircle w-12 h-12">
                                <font></font>
                                <img src="/tailwind-css-component-profile-5@56w.png"
                                    alt="Avatar Tailwind CSS Component" />
                                <font></font>
                            </div>
                            <font></font>
                        </div>
                        <font></font>
                        <div>
                            <font></font>
                            <div class="font-bold">Yancy Tear</div>
                            <font></font>
                            <div class="text-sm opacity-50">Brazil</div>
                            <font></font>
                        </div>
                        <font></font>
                    </div>
                    <font></font>
                </td>
                <font></font>
                <td>
                    <font></font>
                    Wyman-Ledner<font></font>
                    <br />
                    <font></font>
                    <span class="badge badge-ghost badge-sm">Community Outreach Specialist</span>
                    <font></font>
                </td>
                <font></font>
                <td>Indigo</td>
                <font></font>
                <th>
                    <font></font>
                    <button class="btn btn-ghost btn-xs">details</button>
                    <font></font>
                </th>
                <font></font>
            </tr>
            <font></font>
        </tbody>
        <font></font>
        <!-- foot -->
        <font></font>
        <tfoot>
            <font></font>
            <tr>
                <font></font>
                <th></th>
                <font></font>
                <th>Name</th>
                <font></font>
                <th>Job</th>
                <font></font>
                <th>Favorite Color</th>
                <font></font>
                <th></th>
                <font></font>
            </tr>
            <font></font>
        </tfoot>
        <font></font>
        <font></font>
    </table>
    <font></font>
</div>
<div class="join">
    <font></font>
    <button class="join-item btn">1</button>
    <font></font>
    <button class="join-item btn btn-active">2</button>
    <font></font>
    <button class="join-item btn">3</button>
    <font></font>
    <button class="join-item btn">4</button>
    <font></font>
</div>